body {
  font-family: 'Source Serif Pro', Charter, "Bitstream Charter", Georgia, serif;
  font-size: 21px;
  margin: 10px 10px;
  background-color: #a0a0a0;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
}

article {
  max-width: 45rem;
  margin: 12px auto;
  padding: 50px;
  background-color: #ffffff;
}

h1, h2 { font-family: 'Segoe UI', Helvetica, sans-serif; }
h1 { font-size: 150%; }
h2 { font-size: 120%; }

a:link { color: #1287e0; }
a:visited { color: #a972b5; }

a.heading-marker {
  font-size: 60%;
  text-decoration: none;
  color: #cccccc;
}

h2:hover a { color: #1287e0; }

table {
  border-bottom: 2px solid #777777;
  border-collapse: collapse;
  border-top: 2px solid #777777;
  margin: 0px auto; /* center table */
}

table th {
  font-weight: normal;
  padding: 0px 10px;
  vertical-align: bottom;
}

table td {
  padding: 0px 10px;
  vertical-align: top;
  text-align: center;
}

table tbody tr { border-bottom: 1px dotted #ccc; }
table thead th { border-bottom: 1px solid #777777; }
table tfoot th { border-top: 1px solid #777777; }
